.tableCard {
    width: 100%;
    background: #fff;
    border: 1px solid rgb(225 225 225);
    border-radius: 10px;
    overflow: hidden;
}
.tableFilterSec  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.leftSec, .rightSec {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: #fff!important;
}
.tableCard .tableFilterSec .leftSec .searchInv {
    /* width: 100%; */
    border: 1px solid rgb(204, 208, 212);
    display: flex;
    align-items: center;
    padding: 6px;
    gap: 1vh;
    border-radius: 4px;
}
.tableCard .tableFilterSec .leftSec .inputInv {
    border: none;
}
.tableCard .tableFilterSec .rightSec .btnAdd {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #3b82f6;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 8px;
    border: 1px solid #3b82f6;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.tableCard .tableFilterSec .rightSec .btnAdd:hover {
    background-color: #3475de;
}
.tableCard .tableFilterSec .rightSec .btnAdd svg {
    width: 18px;
    height: 18px;
}
.tableCard .tableFilterSec .rightSec .btnExport {
    background-color: unset!important;
    border: unset!important;
}
.tableCard .tableFilterSec .rightSec .btnExport svg {
    width: 26px;
    height: 26px;
    color: #3b82f6;
    transition: all 0.3s ease;
}
.tableCard .tableFilterSec .rightSec .btnExport svg:hover {
    color: #3475de;
}
.table {
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
}
.table thead tr {
    border-bottom: 1px solid rgb(225 225 225);
}
.table tbody,
.table td,
.table tfoot,
.table th,
.table thead,
.table tr {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    font-family: var(--primary-font-Hel);
    padding: 12px;
    text-align: start;
    vertical-align: middle;
    border: none;
} 
.table thead tr{
    background-color: rgb(195 229 255);
}
.table thead tr th {
    font-weight: 500;
}
.table tbody tr {
    background-color: #fff;
}
.table tbody tr:hover {
    background-color: rgba(230, 244, 255, 0.5);
}
.table tbody tr td .featureBox {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}
.table tbody tr td .featureBox .tableImg {
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 6px;
}
.table tbody tr td .featureBox .tableImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.table tbody tr td .featureBox .tableContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.table tbody tr td .featureBox .tableContent .tableTitle {
    font-size: 12px;
    font-weight: 400;
}
.tableVariant{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    gap: 2px;
}
.table tbody tr td .featureBox .tableContent .tableCollections {
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.table tbody tr td .actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.table tbody tr td .actions > .items {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border: 1px solid rgb(230, 244, 255);
    background-color: rgb(230, 244, 255);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.table tbody tr td .actions > .items:hover {
    background-color: #3b82f6;
}
.table tbody tr td .actions > .items:hover svg {
    color: #fff;
}
.table tbody tr td .actions > .items svg {
    width: 15px;
    height: 15px;
    color: #3b82f6;
}
.table .checktr {
    vertical-align: middle;
    text-align: center;
}
.table .formCheckbox {
    display: inline-block;
    position: relative;
    top: 3px;
    width: 16px;
    height: 16px;
    border-color: #3b82f6;
}
.filterDrawer {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.filterDrawer .headSec {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgba(225, 225, 225, 1);
    background-color: #fff;
    z-index: 999;
}
.filterDrawer .headSec h2.heading {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 0px;
}
.filterDrawer .headSec .close {
    width: 25px;
    height: 25px;
    color: rgba(0, 0, 0, 0.5);
}
.filterDrawer .mainSec {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.filterDrawer .mainSec .accordion {
    padding: 5px 10px;
    box-shadow: none;
    position: inherit;
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    border-bottom: 1px solid rgba(225, 225, 225, 1);
}
.filterDrawer .mainSec .accordion .accordionBtn {
    min-height: 48px;
    margin: 0px;
}
.filterDrawer .footerSec {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid rgba(225, 225, 225, 1);
    background-color: #fff;
}
.fieldsSelect {
    width: 100%;
    border: 1px solid rgba(225, 225, 225, 1);
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    color: #000;
    padding: 5px 8px;
    border-radius: 6px;
}
.fieldsInput {
    width: 100%;
    border: 1px solid rgba(225, 225, 225, 1);
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    color: #000;
    padding: 5px 8px;
    border-radius: 6px;
}
.sortIcon {
    width: 10px;
    height: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.activeStatus {
    color: #3b82f6;
    background-color: rgb(230, 244, 255);
    border: 1px solid rgb(230, 244, 255);
    padding: 5px 11px;
    border-radius: 6px;
    font-size: 12px;
}
.inactiveStatus {
    color: rgb(255, 77, 79);
    background-color: rgb(255, 241, 240);
    padding: 6px 12px;
    border-radius: 6px;
}
.lineThrough {
    text-decoration: line-through!important;
}
.table span {display: block;}
