@font-face {
    font-family: font1;
    src: url(/fonts/07070ee11dc38bfbd060.woff);
  }
  @font-face {
    font-family: font2;
    src: url(/fonts/b44b93a780ecd8dbafec.woff);
  }
  @font-face {
    font-family: font3;
    src: url(/fonts/bd8de66be4175fed48a7.woff);
  }
  @font-face {
    font-family: font4;
    src: url(/fonts/c77ea51aaaf5f15bd55d.woff);
  }
  @font-face {
    font-family: font5;
    src: url(/fonts/dd34dea82ffd23ec2838.woff);
  }

  
.archiveWrapper{
    position: relative;
}
.archiveSection1{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.archiveSection1 >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlayA1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.overlayA1 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
}
.overlayA1 .marquee{
    white-space: nowrap;
}
.overlayA1 .marquee h3{
    display: inline-block;
    font-size: 4vw;
    color: white;
    padding: 2vw;
    animation: marquee 40s linear infinite;
    font-family: font1;
    font-weight: 100;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}



.archiveSection3{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  .archiveSection3 .elem{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .archiveSection3 .elem1{
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background-image: url(https://rahasyafragrances.com/cdn/shop/files/Chapter_One_Render_w_bottle_High-Camera.png?v=1728383207&width=3840);
  }
  .archiveSection3 .elem2{
    z-index: 2;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    background-image: url(https://rahasyafragrances.com/cdn/shop/files/Cutting_Rain_with_Bottle_Render_Med_Res_cf962c48-7647-4051-bc4d-134e68c8c476.png?v=1728689321&width=3840);
  
  }
  .archiveSection3 .elem3{
    z-index: 3;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    background-image: url(https://rahasyafragrances.com/cdn/shop/files/Oud_Mangi_bottle_and_block.png?v=1728396178&width=3840);
  
  }
  .archiveSection3 .elem4{
    z-index: 4;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    background-image: url(https://rahasyafragrances.com/cdn/shop/files/Love_Marriage_w_Bottle_2_Closer_ef6e3d93-46d7-4d11-8e97-da86461c3732.png?v=1728386847&width=3840);
  }