@font-face {
    font-family: font1;
    src: url(/fonts/07070ee11dc38bfbd060.woff);
  }
  @font-face {
    font-family: font2;
    src: url(/fonts/b44b93a780ecd8dbafec.woff);
  }
  @font-face {
    font-family: font3;
    src: url(/fonts/bd8de66be4175fed48a7.woff);
  }
  @font-face {
    font-family: font4;
    src: url(/fonts/c77ea51aaaf5f15bd55d.woff);
  }
  @font-face {
    font-family: font5;
    src: url(/fonts/dd34dea82ffd23ec2838.woff);
  }

  
.archiveWrapper{
    position: relative;
}
.archiveSection1{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.archiveSection1 >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.overlayA1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.overlayA1 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
}
.overlayA1 .marquee{
    white-space: nowrap;
}
.overlayA1 .marquee h3{
    display: inline-block;
    font-size: 4vw;
    color: white;
    padding: 2vw;
    animation: marquee 40s linear infinite;
    font-family: font1;
    font-weight: 100;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.archiveSection2{
  width: 100%;
  height: 100vh;
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.archiveSection2 h3{
  width: 70%;
  font-size: 45px;
  font-family: font2;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

.archiveSection2 h3 span{
  opacity: .2;
}

.archiveSection3{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: black;
  }
  .archiveSection3 .elem{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: black;
  }
  .overlay3a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.314);
    padding: 100px;
  }
  .elem2 .overlay3a{
    align-items: center;
  }
  .elem3 .overlay3a{
    align-items: center;
    justify-content: flex-end;
  }
  .elem4 .overlay3a{
    align-items: flex-end;
    justify-content: flex-end;
  }
  .overlay3a .textContainer{
    width: 30%;
  }
  .overlay3a .textContainer h4{
    color: white;
    font-size: 2vw;
    font-family: font2;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .overlay3a .textContainer p{
    color: white;
    font-size: 14px;
    font-family: font1;
    font-weight: 500;
    margin-bottom: 15px;
    letter-spacing: 1px;
  }
  .archiveSection3 .elem1{
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background-image: url("/archive/slide1.JPG");
  }
  .archiveSection3 .elem2{
    z-index: 2;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    background-image: url("/archive/slide2.JPG");
  
  }
  .archiveSection3 .elem3{
    z-index: 3;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    background-image: url("/archive/slide3.JPG");
  
  }
  .archiveSection3 .elem4{
    z-index: 4;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    background-image: url("/archive/slide1.JPG");
  }